@import '../assets/fonts/font-awesome-4.6.3/font-awesome.css';

body, html, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.flex1 {
  display: inline-block;
  flex: 1 1 auto;
}

.no-flex {
  display: inline-block;
  flex: 0 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.unselectable {
  user-select: none;
}
