<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#555555" />
		
		<link rel="icon" sizes="192x192" href="images/icon.png" />
		<link rel="apple-touch-icon" href="images/icon.png" />
		<meta name="msapplication-square192x192logo" content="images/icon.png" />
		
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>

	<body>
	    <div id="app"></div>
	</body>
</html>